Workflow/Securityreport-pro-vmarco.json
{
  "name": "SecurityReportBot PRO vMarço",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=INSTRUCTIONS (à respecter strictement) :\n- Produire un rapport factuel, neutre et administratif.\n- Respecter exactement la structure imposée.\n- Ne jamais inventer.\n- Ne jamais modifier une heure fournie.\n- Si une information manque : écrire exactement \"Information non communiquée\".\n- Répondre uniquement avec le rapport final, sans commentaire.\n\nDONNÉES (message utilisateur à traiter) :\n<donnees>\n{{ $json.userText }}\n</donnees>",
        "options": {
          "systemMessage": "Tu es un agent de sécurité professionnel en Suisse (AMIG / Protectas).\nTu rédiges des rapports officiels factuels, neutres et administratifs.\nTu n’inventes aucune information. Tu n’extrapoles jamais.\n\nLANGUE OBLIGATOIRE :\n- Le rapport final doit être rédigé uniquement en français administratif correct.\n- Aucune phrase en portugais ne doit apparaître dans le rapport final.\n- Tous les éléments fournis en portugais doivent être traduits en français, y compris les lieux et localisations internes.\n- Exemple obligatoire : \"2º andar quarto 14\" doit devenir \"2ème étage chambre 14\".\n- Ne jamais modifier les données factuelles (heures, dates, numéros, chiffres).\n- Traduire uniquement la langue, sans modifier le contenu factuel.\n\nFORMAT STRICT À RESPECTER :\n\nCe jour,\n\nLIEU :\nLOCALISATION INTERNE :\n\nPERSONNES CONCERNÉES :\n- Nom, né le JJ.MM.AAAA, nationalité <...>\n\nDESCRIPTION DES FAITS :\nTexte court, factuel, basé uniquement sur les données fournies.\n\nMESURES PRISES :\n1)\n2)\n3)\n4)\n\nSITUATION FINALE :\n\"La situation est revenue au calme. Rapport établi.\"\n\nRÈGLES GÉNÉRALES :\n- Utiliser \"-\" pour chaque personne.\n- Ne pas laisser de lignes vides inutiles.\n- Ne rien ajouter hors structure.\n- Répondre uniquement avec le rapport final.\n- Ne jamais fusionner LIEU et LOCALISATION INTERNE.\n- Toujours séparer ces deux champs sur deux lignes distinctes.\n- Aucun commentaire supplémentaire.\n\nRÈGLES HORAIRES (OBLIGATOIRE) :\n- Ne jamais modifier une heure fournie.\n- Ne jamais ajuster une heure d’arrivée.\n- Utiliser uniquement les horaires explicitement mentionnés dans les données.\n\nRÈGLES ACTIONS (CRITIQUE) :\n- Ne jamais ajouter AMIG si elle n’est pas explicitement mentionnée dans les données.\n- Ne jamais ajouter police, ambulance ou pompiers si non mentionnés.\n- Ne jamais supposer une intervention.\n- Si une action n’est pas mentionnée, ne pas la créer.\n- Si une information manque, écrire exactement : \"Information non communiquée\".\n\nRÈGLES ANTI-ERREUR (OBLIGATOIRE) :\n- Ne jamais inventer.\n- Ne jamais extrapoler.\n- Ne jamais remplacer une information manquante par une supposition.\n- Respecter strictement la structure demandée.\n\nRÈGLE IDENTIFICATION INTERVENTION (OBLIGATOIRE) :\n- Si la police est mentionnée : toujours indiquer \"Matricule : Information non communiquée\" si le matricule n’est pas fourni.\n- Si ambulance ou pompiers sont mentionnés : toujours indiquer \"Numéro véhicule : Information non communiquée\" si le numéro n’est pas fourni.\n- La ligne Matricule ou Numéro véhicule doit être intégrée sous l’intervention correspondante et ne jamais être numérotée séparément.\n- Cette ligne doit apparaître dans la section MESURES PRISES."
        }
      },
      "id": "9a49bf2a-81c5-45b8-8a47-72f1b9c3883a",
      "name": "Agente de Segurança Suíça",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        720,
        336
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "a79bf9ca-900d-44bc-8c64-4d0dbd629e69",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        400,
        576
      ],
      "credentials": {
        "openAiApi": {
          "id": "ESpvokuNKhQCiZKy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true,
          "chatIds": "1266243261"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        144
      ],
      "id": "e4e5ce50-7804-4761-aa4e-bb0f8e3d1a54",
      "name": "Telegram Trigger",
      "webhookId": "0d9fdcb2-55a6-4362-b9d8-0276143a5753",
      "credentials": {
        "telegramApi": {
          "id": "rTEqkPBS2M5qTFZT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{\n  String(\n    $node[\"Agente de Segurança Suíça\"].json.output\n    ?? $json.output\n    ?? $json.text\n    ?? \"\"\n  )\n  .replace(/\\n?This message was sent automatically with n8n\\s*$/i, \"\")\n  .trim()\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        144
      ],
      "id": "40a48948-5619-4bb8-8af4-7062c6ddf92e",
      "name": "Send a text message",
      "webhookId": "0cd63644-c9a5-4aba-af51-7a54adafe310",
      "credentials": {
        "telegramApi": {
          "id": "mEE0E3s8C6cswBHE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        32
      ],
      "id": "bd3ac947-d929-4365-b404-7b5d83a246b4",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "ESpvokuNKhQCiZKy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89b03814-31d7-47be-92ca-1bdfddd5ffb6",
              "leftValue": "={{$json.inputType}}",
              "rightValue": "voice",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        464
      ],
      "id": "853fb861-e139-499f-917d-f4c478e4a706",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b297b93-36ac-4a4a-ac45-f8ceaecfa605",
              "name": "text",
              "value": "={{ $node[\"Agente de Segurança Suíça\"].json.output }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        256
      ],
      "id": "01309015-f4dd-47e4-9f91-301d6c8061f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        48
      ],
      "id": "72cf4698-2577-47e7-8415-e4b4865c584e",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json.message.voice.file_id}}",
        "download": "={{ true }}",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ],
      "id": "cb6ac785-32e2-4f4e-829e-cfd33d2e45b2",
      "name": "Get a file",
      "webhookId": "e948e8ce-633a-467a-8067-48a0d1527d63",
      "credentials": {
        "telegramApi": {
          "id": "mEE0E3s8C6cswBHE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== AMIG / Protectas - Pré-triagem (STABLE + SAFE) =====\n\nconst msg = $json?.message ?? $json ?? {};\n\n// texto pode vir como text/caption/userText (depende do tipo de msg e do teu fluxo)\nconst rawText =\n  msg.text ??\n  msg.caption ??\n  $json.text ??\n  $json.userText ??\n  \"\";\n\n// sessionId para memória (Simple Memory)\nconst sessionId = String(\n  msg?.chat?.id ??\n  $json?.chat?.id ??\n  $json?.message?.chat?.id ??\n  \"fallback\"\n);\n\nreturn [{\n  json: {\n    ...$json,\n    text: rawText,\n    userText: rawText,\n    sessionId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        240
      ],
      "id": "6d254090-72f3-41e8-adb1-98ef452bed5d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        592
      ],
      "id": "3cbe05c5-d111-4f35-8c23-5ada41ff039f",
      "name": "Simple Memory",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Segurança Suíça",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Segurança Suíça": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente de Segurança Suíça",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agente de Segurança Suíça",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f0e01893-f431-4fb3-a85b-013e6cfb9ca2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3be01acbd757291aecf222f4aa82b4a24a1814e84b657121aaa84ebc5fdbf9a4"
  },
  "id": "puSZLZkHwSf2myPF",
  "tags": []
}
